{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.province) }}
    {{ form_widget(form.province, { 'attr': {'class': 'form-control select2'} }) }}
</div>
<div class="form-group">
    {{ form_label(form.district) }}
    {{ form_widget(form.district, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
    {{ form_label(form.ward) }}
    {{ form_widget(form.ward, { 'attr': {'class': 'form-control'} }) }}
</div>
<div class="form-group">
    {{ form_label(form.street) }}
    {{ form_widget(form.street, { 'attr': {'class': 'form-control'} }) }}
</div>
{{ form_end(form) }}